.modal-inicio {
  display: grid;
  border-radius: 15px !important;
  background-color: var(--color-secundario)!important;
  justify-items: center;
  padding-bottom: 20px;
}
.modal-inicio > .cerrar-modal {
  display: flex;
  justify-content: right;
  width: 100%;
}
.modal-inicio > .cerrar-modal > *{
  color:var(--color-primario);
  font-size: 30px;
  margin: 10px;
}
.modal-inicio > .cerrar-modal > *:hover {
  color:var(--color-secundario);
  cursor: pointer;
}
.modal-inicio> .cuerpo{
  margin: 20px;
}
.modal-inicio > div {
  display: grid;
  justify-items: center;
  text-align: center;
  font-size: 100px;
}

.modal-inicio > div > h1 {
  color: var(--color-primario);
  font-weight: bold;
  font-size: 2.5rem;
}

.modal-inicio > div > h4 {
  font-weight: bold;
  font-size: 1rem;
}

.modal-inicio > div > .btn {
  border-right: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-radius: 0em !important;
  border-width: 0.3em;
}

@media (max-width: 600px) {
  .modal-inicio > div > h1 {
    font-size: 2rem;
  }
  .modal-content {
    width: 100%;
  }

  .modal-inicio {
    display: grid;
    border-radius: 15px !important;
    background-color: var(--color-secundario);
    justify-items: center;
    padding-bottom: 20px;
  }
}
