.modal-inicio{
    display: grid;
    border-radius: 90px!important;
    background-color: var(--color-secundario);
    justify-items: center;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.modal-inicio>.cerrar-modal{
    display: flex;
    justify-content: right;
    width: 100%;
}
.modal-inicio>.cerrar-modal>.btn{
    background-color: transparent!important;
    border-radius: 50%!important;
    max-width: 30px;
    border:none!important;
    font-size: 30px;
}
.modal-inicio>.cerrar-modal>.btn:hover:visited{
    border:none!important;
    color: var(--color-terciario);
}

.modal-inicio>div{
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 100px;
}

.modal-inicio>div>h1{
    color:var(--color-primario);
    font-weight: bold;
    font-size: 2.5rem;
}

.modal-inicio>div>h4{
    font-weight: bold;
    font-size: 1rem;
}

.modal-inicio>div>.btn{
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-radius: 0em !important;
    border-width: 0.3em;
}

