.barra {
  background-color: var(--color-primario);
  padding: 0px 10px !important;
}
.textoMarca {
  color: var(--color-secundario) !important;
  margin: 0px;
  font-size: 35px !important;
  font-weight: bold;
}
.dropdown-menu {
  background-color: var(--color-primario) !important;
}
.dropdown-menu:hover {
  color: var(--color-primario) !important;
}
.navbar-light .navbar-toggler{
  border-color: var(--color-secundario)!important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
@media (max-width: 769px) {
  .textoMarca {
    justify-content: center;
    max-width: 599px;
  }
}
@media (max-width: 600px) {
  .textoMarca {
    justify-content: center;
    max-width: 599px;
  }
}



