.contacto-general {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom:100px ;
}

.mapa {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}

.formulario {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}

@media (min-width: 700px) {
  .contacto-general {
    flex-direction: row;
  }
  .mapa {
    flex: 1;
    max-width: 50%;
    padding: 20px;
  }

  .formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 50%;
    padding: 20px;
    text-align: center;
  }
  .formulario > * {
   flex:1;
   max-width: 70%;
  }
}
