.navbar-light .navbar-text {
  color: var(--color-secundario) !important;
  text-align: right;

}
.navbar-nav {
  flex: 2;
  color: var(--color-secundario) !important;
  justify-content: space-evenly;
}

.btn-primary:hover {
  color: var(--color-secundario) !important;
  background-color: var(--color-terciario) !important;
  border-color: var(--color-primario) !important;
}

.btn-primary {
  flex: 1;
  max-width:200px;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: var(--color-primario) !important;
  background-color: var(--color-secundario) !important;
  border-color: var(--color-primario) !important;
  
}
