.navbar-light .navbar-text {
  color: var(--color-secundario) !important;
  text-align: right;
}
.datos-redes>.navbar-nav {
  flex: 1;
  color: var(--color-secundario) !important;
  justify-content: space-evenly;
}

.btn-primary:hover {
  color: var(--color-secundario) !important;
  background-color: var(--color-terciario) !important;
  border-color: var(--color-primario) !important;
}
.datos-redes {
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  flex: 1;
  max-width: 200px;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: var(--color-primario) !important;
  background-color: var(--color-secundario) !important;
  border-color: var(--color-primario) !important;
}
@media (max-width: 600px) {
  .datos-redes {
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .datos-redes>.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .navbar-light .navbar-text {
    font-size: 7px;
  }
  .navbar>.navbar-nav{
    flex:1;
    flex-direction: column!important;
    justify-content: center!important;
    padding: 15px;
  }
  .modal-content {
    width: 100%!important;
  }
  .btn-primary {
    font-size: 15px!important;
}
}
