:root {
  --color-primario: #052096;
  --color-secundario: white;
  --color-terciario: #b9b9b6;
  --fuente-principal: "Lato", sans-serif;
}
*{
  font-family: var(--fuente-principal)!important;
}
a{
  color: var(--color-secundario) !important;
}
a:hover{
  color: var(--color-terciario) !important;
}
nav.navbar {
  background-color: var(--color-primario);
  justify-content: space-evenly;
}

.inicial {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1rem 3rem 10rem;
}
.inicial-slider {
  margin-top: 60px;
}
.inicial-textos {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

@media (max-width: 600px) {
  .inicial-textos {
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    
  }
}
